/* Master styles */
/* body styles */
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}
/* Container styles*/
.container{
    display: grid;
    grid-template-columns: 1fr;
}
/* Header styles */
header{
    display: flex;
    justify-content: space-between;
    padding: 24px;
    background: lightseagreen;
    align-items: center;
}
.logo{
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    align-self: center;
}
/* End of header style */
/* Start of Navbar style */
nav{
    flex: 1;
    text-align: right;
}
.link-wrapper{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
/* .link-wrapper{
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
    height: 20px;
    transition: border-bottom 0.9s;
    border-bottom: 1px solid transparent;
} */
.link-wrapper a{
    font-size: 0.95rem;
    color: #fff;
    text-decoration: none;
    transition: color 0.9s;
    
}
/* .link-wrapper:hover{
    border-bottom: 1px solid black;
} */
.link-wrapper a:hover{
    border-bottom: 1px solid #fff;
    font-weight: bold;
}
#mobileNav{
    display: none;
    padding: 10px 0;
}

#cancelNav{
    float: right;
    margin-right: 14px;
    margin-top: 15px;
}
#bars{
    display: none;
}
header .fa{
    display: block;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
}
/* .active-link{
    border-bottom: 1px solid black;
} */
/* .active-link a{
    color: rgb(255, 0, 149) !important;
} */
/* End of Navbar */
/* Portfolio styles */
h1, .h1, h2, .h2{
    color: lightseagreen;
    text-align: center;
}
h1.port, .about, .skill, .contact{
    font-size: 2.5rem;
}
h1.port{
    margin-top: 100px;
}
div.divider{
    width: 50px;
    height: 5px;
    background: rgb(255, 0, 149);
    margin-left: 48%;
}
.portfolio-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 40px 30px;
    gap: 20px;
    background-color: #48c3c3;
}
.portfolio-item{
    position: relative;
}
.img-background{
    height: 200px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.subtitle{
    position: absolute;
    top: 15px;
    padding: 40px;
    transition: 1.5s;
    font-weight: 700;
    color: transparent;
}

.subtitle:hover{
    font: 0.9rem;
    font-weight: 700;
    color: rgb(255, 0, 149);
    cursor: pointer;
}

.portfolio-btn{
    margin-top: 50px;
}

.portfolio-btn a{
    color: rgb(255, 0, 149);
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 600;
}
.portfolio-btn a:hover{
    color: #fff;
}
/* End of portfolio style */
/* Start of responsiveness homepage */
@media (max-width:1024px) {
    h1.port{
        margin-top: 38px;
    }
    .subtitle{
        font-size: 0.6rem;
    }
}
@media (max-width:768px) {
    .link-wrapper{
        display: block;
    }
    nav{
        text-align: left;
        flex: none;
        background: #48c3c3;
        width: 100px;
        position: absolute;
        right: 0;
        top: 0;
    }
    nav .link-wrapper a{
        padding: 10px;
    }
    header, nav .fa{
        color: #fff;
        font-size: 22px;
        cursor: pointer;
    }
    div.divider{
        margin: 0 auto;
    }
    .portfolio-wrapper{
        display: grid;
        grid-template-columns: 1fr;
    }
    h1.port, .about, .skill, .contact{
        font-size: 2rem;
    }
    h1.port{
        margin-top: 40px;
    }
    .subtitle{
        padding: 70px;
        font-size: 0.75rem;
    }
    .subtitle:hover{
        color: #fff;
    }
    .portfolio-btn{
        margin-top: 30px;
    }
    #bars{
        display: inline;
    }
    #navLink{
        display: none;
    }

}
/* End of responsiveness homepage */

/* Start for About page style*/
h1.about{
    margin: 100px 0 40px 0;
}
.two-column{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    margin: 0px 120px;
}
.profile-image img{
    width: 80%;
    height: 60%;
    border-radius: 8px;
}
.profile-content{
    padding: 30px;
    text-align: justify;
}
.profile-content h2{
    text-align: left;
    font-size: 1.8rem;
}
.profile-content p{
    font-size: 1.2rem;
}
/* End of about page style */
/* Start of responsiveness for About page */
@media (max-width:1024px) {
    h1.about{
        margin-top: 25px;
    }
    .two-column{
        margin: 0 50px;
    }
    .profile-content{
        margin-top: -30px;
    }
    .profile-content h2{
        font-size: 1.4rem;
    }
    .profile-content p{
        font-size: 1.08rem;
    }
}
@media (max-width:768px) {
    h1.about{
        margin-top: 20px;
    }
    .two-column{
        display: grid;
        grid-template-columns: 1fr;
        gap: 130px;
        margin: 40px 30px;
        background-color: #ecf5ec;
    }
    .profile-image img{
        width: 100%;
    }
    .profile-content{
        margin-top: -40%;
        font-size: 1.3rem;
        text-align: center;
    }
    .profile-content h2{
        margin-top: 20%;
        text-align: center;
    }
}
/* End of responsiveness for About page */

/* Start of styling for My skills */
.skill-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 60px;
    padding: 0 36px;
}
.skill-item{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 8px 20px;
    margin: 10px 30px;
    background-color: #48c3c3;
    color: #fff;
    border-radius: 8px;
}
.skill-text{
    font-size: 24px;
    font-weight: 700;
}
/* Start responsiveness My Skills */

@media (max-width:1024px) {
    .skill-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 20px;
    }
}
@media (max-width:768px ) {
    .skill-wrapper{
        display: grid;
        grid-template-columns: 1fr;
        margin: 30px 0;
        padding: 0;
    }
    .skill-item{
        padding: 4px 24px;
    }
}
/* End responsiveness My Skills */
/* End of styling for My skills */

/* Start of styling for contact */
.contact-wrapper{
    width: 50%;
    margin: auto;
}
.contact-wrapper form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* border:  1px solid red; */
}
.contact-wrapper label{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.contact-wrapper input, .contact-wrapper textarea{
    width: 100%;
    padding: 16px 12px;
    outline: none;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.contact-wrapper input::placeholder{
    color: #ccc;
    font-size: 12px;
}
.contact-wrapper textarea::placeholder{
    color: #ccc;
    font-size: 12px;
}
.contact-wrapper input:focus{
    outline: 3px solid #48c3c3;
    border-color: transparent;
}
.contact-wrapper textarea:focus{
    outline: 3px solid #48c3c3;
    border-color: transparent;
}
.contact-wrapper button{
    padding: 12px;
    margin-top: 10px;
    background-color: #48c3c3;
    border: #48c3c3;
    color: #fff;
}
/* Start responsiveness Contact */
@media (max-width:1024px) {
    .contact-wrapper{
        width: 84%;
    }
}
@media (max-width:768px) {
    .contact-wrapper{
        width: 84%;
    }
}
/* End responsiveness Contact */
/* End styling for contact */

/* Start of Styling for footer */
.foot{
    background-color: #f0f0f0;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    padding: 5px 0;
    /* margin-top: -40px; */
}
.foot h1{
    margin-bottom: 10px;
}
.foot h3{
    margin-bottom: 10px;
    font-style: italic;
}
.foot p{
    margin-top: 5px;
}
.icons a{
    width: 20px;
    height: 20px;
    background: lightseagreen;
    color: #fff;
    display: inline-block;
    align-items: center;
    border-radius: 100%;
    padding: 14px;
    margin: 15px 0;
}
a.arrowUp img{
    width: 40px;
    height: 40px;
    right: 0;
    bottom: 50px;
    border: 3px solid rgb(255, 0, 149);
    border-radius: 100px;
    position: fixed;
    background-color: rgb(255, 0, 149);
}
.img-darken{
    transition: 1s;
    filter: brightness(20%);
}
/* End of styling for footer */
/* Start of responsiveness for footer */
@media (max-width: 1024px) {
    a.arrowUp img{
        height: 30px;
        width: 30px;
    }
}
@media (max-width:768px) {
    .foot{
        margin-top: 15px;
    }
    a.arrowUp img{
        height: 20px;
        width: 20px;
    }
}
/* end of responsiveness for footer */